.sortin-app-colors * {
  /* sortin primary color */
  --primary: rgb(112 217 221);
  --primary-rgb: 112, 217, 221;
  /* sortin primary light color */
  --primary-light: rgb(207, 242, 244);
  --primary-light-rgb: 207, 242, 244;
  /* sortin secondary color */
  --secondary: rgb(151, 151, 151);
  --secondary-rgb: 151, 151, 151;
  /* sortin background color */
  --backgroud: rgb(12, 12, 12);
  --backgroud-rgb: 12, 12, 12;
  /* sortin red color */
  --error: rgb(231, 76, 60);
  --error-rgb: 231, 76, 60;
  /* sortin green color */
  --correct: rgb(126, 217, 87);
  --correct-rgb: 126, 217, 87;
  user-select: none;
}

.sortin-app-modal-cont {
  display: block;
  position: fixed;
  content: "";
  inset: 0;
  background: rgba(var(--backgroud-rgb), 0.6);
  z-index: -1;
  opacity: 0;
  transition:
    opacity 0.2s,
    z-index 0s 0.2s;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-overflow-scrolling: touch;
}

.sortin-app-modal-cont > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.sortin-app-modal-cont:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.sortin-app-modal-visible .sortin-app-modal-cont {
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.2s;
}

.sortin-app-modal-inner {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  max-height: 680px;
  width: 90%;
  height: 90%;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition:
    opacity 0.2s,
    transform 0.2s,
    z-index 0s 0.2s;
  min-width: 280px;
  border-radius: 16px;
  cursor: default;
  box-shadow:
    -5px -5px 25px -10px rgba(255, 255, 255, 0.1),
    5px 5px 25px -10px rgba(255, 255, 255, 0.1);
}
.sortin-app-modal-visible .sortin-app-modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.2s,
    transform 0.2s;
  animation: sortinSlideIn 250ms;
}
#sortin-app-modal-content,
.sortin-app-frame {
  width: 100%;
  height: 100%;
  border: 0;
}

#sortin-app-modal-close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  border-radius: 50%;
  background-color: rgba(var(--backgroud-rgb), 0.2);
  color: black;
  text-align: center;
}
#sortin-app-modal-close:hover {
  background-color: rgba(var(--backgroud-rgb), 0.4);
  color: var(--error);
}

.sortin-cart-line-item {
  display: none;
}

@media (min-width: 640px) {
  .sortin-app-modal-inner {
    width: 33%;
    max-width: 480px;
  }
}

@keyframes sortinSlideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes sortinSlideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes sortinSlideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes sortinFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sortin-product-emission {
  position: relative;
  background: var(--primary);
  background: linear-gradient(
    to right bottom,
    var(--primary-light) 0%,
    white 60%,
    white 100%
  );
  color: var(--secondary);
  padding: 10px;
  box-shadow: 10px 5px 5px rgba(var(--backgroud-rgb), 0.4);
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sortin-product-emission * {
  margin: 0;
}
.sortin-product-save {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: black;
  font-weight: 600;
  font-size: 16px;
}
.sortin-product-co2-emission {
  align-items: center;
  gap: 4px;
}
.sortin-product-plastic-emission {
  align-items: center;
  gap: 4px;
}
.sortin-product-coin-co2-convert {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.sortin-product-join {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 10px;
}
.sortin-product-join span:first-child {
  text-decoration: underline;
}
.sortin-product-join span:last-child {
  color: var(--primary);
}

.sortin-cart-emission {
  position: relative;
  background: var(--primary);
  background: linear-gradient(
    to right bottom,
    var(--primary-light) 0%,
    white 60%,
    white 100%
  );
  padding: 10px;
  box-shadow: 10px 5px 5px rgba(var(--backgroud-rgb), 0.4);
  border-radius: 8px;
  color: var(--secondary);
  cursor: pointer;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sortin-cart-emission * {
  margin: 0;
}
.sortin-cart-save {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: black;
  font-weight: 600;
  font-size: 16px;
}
.sortin-cart-co2-emission {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.sortin-cart-plastic-emission {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.sortin-cart-coin-co2-convert {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.sortin-cart-join {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 10px;
}
.sortin-cart-join span:first-child {
  text-decoration: underline;
}
.sortin-cart-join span:last-child {
  color: var(--primary);
}
